/* Base Styles */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  background-color: whitesmoke;
}

/* Global Header Style */
.App h1, h2, h3 {
  margin: 10px 20px; /* Reduced margin */
}

/* Global InputField Style */
.input-field {
  width: 80%;
  padding: 10px;
  font-size: 1.4em;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Global Button Style */
.button {
  padding: 5px 5px;
  margin: 5px 5px;
  font-size: .8rem;
  border-radius: 5px;
  cursor: pointer;
}

#submitTopicButton {
  padding: 10px 10px 10px 10px;
  margin: 15px 15px;
  font-size: .8rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Global Table Style */
table {
  width: 100%;
  text-align: left;
  margin-top: 15px; /* Reduced margin */
}

td, th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* Specific Page Styles */
.page-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Changed to center for a more compact layout */
  padding: 5px; /* Reduced padding */
  height: auto; /* Changed from 100vh to auto for a more natural height */
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 5px;
  border-radius: 10px;
}

.matchup-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
  margin: 20px 0; 
  padding: 15px; 
  border-radius: 10px; 
}

.matchup-buttons-container button {
  flex: 0 0 42%; 
  margin: 0 2%; 
}


#splash-prompt {
  size: 3.2em;
}

.copyright {
  font-size: 0.75rem; /* adjust as needed */
}


/* Round Button Styles */
.round-button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.round-button.add {
  background-color: green; 
}

.round-button.remove {
  background-color: red; 
}

/* Media Query Adjustments */
@media (min-width: 300px) and (max-width: 450px) {
  .input-field {
    width: 95%;
    font-size: 2rem;
    margin: 5pm auto;
    padding: 10px;
  }

  /* .button {
    width: 100%;
    font-size: 2rem;
    margin: 5pm auto;
    padding: 10px;
  } */

  #submitTopicButton {
    width: 100%;
    font-size: 1.5rem;
    margin: 5pm auto;
    padding: 10px;
  }

  .App, .page-view {
    width: 100%;
    margin: 0;
    padding: 0;
    }

    .copyright {
      font-size: 1.2em;
    }

    #splashPrompt {
      font-size: 2.0em;
    }

    #inputPrompt {
      font-size: 2.0em;
    }

    #matchupPrompt {
      font-size: 2.0em;
    }

    td input {
      width: 80%;
      font-size: 1.5rem;
    
    }

    td.remove-button-cell {
      padding: 5px 25px 5px 0px;
    }

    button.button.submit {
      font-size: 2.6em;
    }



    .resetBtn {
      font-size: 1.5em;
    }

    .matchup-buttons-container button {
      font-size: 2.0em;
    }

    .matchup-buttons-container {
      font-size: 1.4em;
    }

    #resultsTable {
      font-size: 2em;
    }

}

@media (min-width: 601px) and (max-width: 1024px) {
  .input-field, .button {
    width: 85%;
    font-size: 1.1rem;
  }
}

@media (min-width: 1025px) {
  .input-field, .button {
    width: 75%;
  }
}