
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .page-slide-in {
    animation: slideRightToLeft 0.5s ease forwards;
  }

  @keyframes burst-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } /* Adjust the scale value for the 'burst' effect */
    100% { transform: scale(.7); }
  }
  

  @keyframes depress {
    0% { transform: scale(1); }
    50% { transform: scale(.8); }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }

  @keyframes flashBorder {
    0%, 100% { border-color: royalblue; }
    50% { border-color: white;}
  }
  
  @keyframes explode {
    /* 0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.5); opacity: 0; } */
  }

  @keyframes fadeOut {
    0% { opacity: 1;}
    50% { opacity: .7;}
    100% { opacity: 0;}
  }

  
  .button-clicked {
    animation:
      depress 0.3s forwards,
      flashBorder 0.6s infinite;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    border: 2px solid royalblue;
  }
  

  .burst-button {
    
    /* animation: depress 0.2s forwards, explode 0.5s 0.2s forwards; */
    animation: 
    depress 0.3s forwards;
    /* fadeOut 2s forwards; */
  }
