
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .page-slide-in {
    animation: slideRightToLeft 0.5s ease forwards;
  }

  @keyframes burst-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } /* Adjust the scale value for the 'burst' effect */
    100% { transform: scale(.7); }
  }
  

  @keyframes depress {
    0% { transform: scale(1); }
    50% { transform: scale(.97); }
    70% { transform: scale(.98);}
    75% { transform: scale(.99); }
    100% { transform: scale(1); }
  }

  @keyframes enlarge {
    0% { font-size: 100%; }
    50% {font-size: 150%; }
    70% {font-size: 140%;}
    100% {font-size: 100%;}
  }

 

  @keyframes flashBorder {
    0%, 100% { border-color: royalblue; }
    50% { border-color: white;}
  }
  
  @keyframes explode {
    /* 0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.5); opacity: 0; } */
  }

  @keyframes fadeOut {
    0% { 
      opacity: 1;}
    60% { 
      opacity: .95;
      border: none;}
    100% { 
      opacity: 0;
      border: none;}
  }

  
  .button-clicked {
    animation:
      depress 0.22s forwards,
      flashBorder 0.22s infinite,
      /* enlarge 0.65s forwards, */
      fadeOut .22s forwards;
    background-color: royalblue;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid royalblue;
  }
  

  .burst-button {
    
    /* animation: depress 0.2s forwards, explode 0.5s 0.2s forwards; */
    animation: 
    depress 0.3s forwards;
    /* fadeOut 2s forwards; */
  }

  .row-button-clicked {
    animation:
      depress 0.4s forwards;
  }

  .simple-click {
    animation: 
      depress 0.4s forwards,
      enlarge 0.4s forwards;
  }