/* Base Styles */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 30vmin; /* Adjusted for better sizing */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.theme_Box {
  width: 80%; /* Increased width for better screen utilization */
  margin: auto; /* Centering the box */
}

input::placeholder {
  color: grey;
  opacity: 0.7;
  font-style: italic;
}

body {
  background-color: whitesmoke;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem); /* Adjusted for dynamic resizing */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Component Specific Styles */
.comparison-button {
  padding: 12px 24px; /* Increased for touch friendliness */
  font-size: 1.2rem; /* Larger text for readability */
  margin: 15px; /* More spacing */
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Increased spacing */
}

.input-row input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px; /* Increased padding for touch friendliness */
}

.input-row button {
  padding: 10px 15px;
}

.results-table {
  overflow-x: auto;
}

.remove-button-cell {
  width: 120px; /* Increased width */
}

td {
  text-align: left;
  vertical-align: middle;
}

/* Responsive Design Adjustments */
@media (max-width: 600px) {
  .theme_Box, .input-row, .comparison-button {
    width: 95%; /* Utilize more screen width */
  }

  .input-row button, .comparison-button {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .theme_Box {
    width: 85%;
  }

  .input-row, .comparison-button {
    font-size: 1.1rem;
  }
}

@media (min-width: 1025px) {
  .theme_Box {
    width: 75%; /* Optimal width for larger screens */
  }
}
