/* Global Button Style */
.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 1em;
  border-radius: 2em;
}

.button {
  padding: 1em 1em;
  margin: 1em 1em;
  font-size: 1rem;
    border-radius: 2em;
    cursor: pointer;
  }


  button.submit {
    border-radius: 2em;
  }

  /* Round Button Styles */
.round-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .round-button.add {
    background-color: green;
  }
  
  .round-button.remove {
    background-color: red; 
  }
  
  .resetBtn {
    font-size: .75em;
    margin: .2em .2em .2em .2em;
    border-radius: 2em;
    padding: .5em .5em;
  }

  .round-button.add,   .round-button.remove {
    width: 75px;
    height: 75px;
  }
  
.matchup-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 1em; 
  padding: 1em; 
  border-radius: 1em; 
  justify-content: space-between;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
}

#leftMatchupBtn, #rightMatchupBtn {
  padding: 1em 1em;
  margin: 1em 0 1em 0;
  border-radius: 1em;
  font-size: 1em;
  /* word-wrap: break-word; 
  hyphens: auto;
  overflow-wrap: break-all; */
  flex-wrap: wrap;
 width: 40%;
}