/* Global Button Style */
.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 1em;
  border-radius: 2em;
}

.button {
  padding: 1em 1em;
  margin: 1em 1em;
  font-size: 1rem;
    border-radius: 2em;
    cursor: pointer;
  }

  button.submit {
    border-radius: 1px;
  }

  /* Round Button Styles */
.round-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .round-button.add {
    background-color: green;
    width: 1.5em;
    height: 1.5em;
  }
  
  .round-button.remove {
    background-color: red; 
    width: 1.5em;
    height: 1.5em;
  }
  
  .resetBtn {
    font-size: 1.75em;
    margin: 0 0 .5em 0;
  }