/* Global Button Style */
.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 1em;
  border-radius: 2em;
}

.button {
  padding: 1em 1em;
  margin: 1em 1em;
  font-size: 1rem;
    border-radius: 2em;
    cursor: pointer;
  }

  button.submit {
    border-radius: 2em;
  }

  /* Round Button Styles */
.round-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .round-button.add {
    background-color: green;
  }
  
  .round-button.remove {
    background-color: red; 
  }
  
  .resetBtn {
    font-size: 1.75em;
    margin: .2em .2em .2em .2em;
    border-radius: 2em;
    padding: .5em .5em;
  }

  .round-button.add,   .round-button.remove {
    width: 75px;
    height: 75px;
  }
  

  .matchup-buttons-container vertical {
    width: auto;
  }


.matchup-buttons-container.vertical button {
  display: block;
  width: auto;
  height: auto;
  min-width: 20%;
  max-width: 100%;
  margin: 1em 1em; 
  padding: 1em 1em;
}

.matchup-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: auto;
  max-width: 40%; 
  margin: 1em; 
  padding: 1em; 
  border-radius: 1em; 
}

.matchup-buttons-container button {
  font-size: 2em;
  border-radius: 1em;
  white-space: normal; 
  word-wrap: break-word; 
  /* padding: 1em 1em; */
  /* display: flex;  */
  /* justify-content: center;  */
  /* align-items: center;  */
  /* text-align: center;  */
  /* margin: 0; */
}
