.input-field {
    width: 80%;
    padding: 10px;
    font-size: 1.4em;
    border: 5px solid #ccc;
    border-radius: 2em;
    background-color: #f2f2f2; 
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); 
    transition: border-color 0.3s; 
  }
  
  .input-field:focus {
    border-color: #4A90E2; 
  }
  
  .input-field:hover {
    border-color: #AAAAAA;
  }
  
  ::placeholder {
    color: #727272;
    font-style: italic;
  }
  
  .inputTable input {
    border-radius: 2em;
    padding: 1em;
  }

  .inputTable.inputRow {
    width: 70%;
  }

  td.remove-button-cell {
    width: 25%;
  }

  td.index-column {
    max-width: 20px;
  }
