.matchup-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    margin: 20px 0; 
    padding: 15px; 
    border-radius: 10px; 
  }
  
  .matchup-buttons-container button {
    flex: 0 0 42%; 
    margin: 0 2%; 
  }

  .matchup-buttons-container.vertical button {
    display: block;
    width: 100%;
    margin-bottom: 10px; 
  }