
/* Media Query Adjustments */
@media (min-width: 100px) and (max-width: 725px) {



    #headingSplash, #headingInput {
      font-size: 3em;
      margin: 1em 0 1.5em 0;
      /* overflow-wrap: break-word;
      word-break: break-all; */
      width: 100%;

    }

    #inputPageTopic{
        font-size: 2em;
        overflow-wrap: break-word;
        word-break: break-all;
        margin: 0 1em 1em 1em;
        padding: 0 1em 0 1em;
        flex-wrap: wrap;
        position: relative;
        text-align: center;
        max-width: 90%;
        
    }

    #headingMatchup {
      font-size: 2em;
      overflow-wrap: break-word;
      word-break: break-all;
      margin: 0 1em;
      padding: 0 1em;
      flex-wrap: wrap;
      width: 50%;
      text-align: center;
      position: relative;
      
  }


  

    #headingResults {
      font-size: 2em;
      margin: 1em 0 0 0;
      overflow-wrap: break-word;
      word-break: break-all;
      width: 75%;
      
  }

  /* Splash */

   

      #submitTopicButton {
        font-size: 1.5em;
        margin: 0 0 1em 0;
      }

      #splashPrompt {
        font-size: 2em;
        margin: 0 0 1em 0;
      }

/* Input */

        #headingInput {
            font-size: 3em;
            margin: 1em 0 .5em 0;
        }

  

        .inputTable td input {
            font-size: 1.75em;
            width: calc(100% - 50px);
        }

        .inputTable {
            margin: 0 0 .25em 0;
        }

        .index-column {
            display: none;
        }

      #RankBtn {
        font-size: 1.5em;
        padding: 1em 1em 1em 1em;
        margin: 1em 1em 1em 1em;
      }

      #inputPrompt {
        font-size: 2em;
        margin: 0 .5em 1.5em .5em;
      }

      .footer p{
        font-size: 1.1em;
        margin: 0 1em 1em 1em;
      }
      
      /* Matchup */

      #matchupPrompt {
        position: flex;
        text-align: center;
        font-size: 2.5em;
        margin-top: auto;
        min-height: 5vh;
    }

    

    .matchup-buttons-container {
        margin: 1em 1em;
        padding: 1em 1em;
        display: flex; justify-content: center; align-items: center;
    }

    #versus {
        font-size: 2em;
        padding: 0 2em 0 2em;
    }

    /* Results */
  
    #resultsTable {
        font-size: 2em;
        margin: 0 1em 2em 0;
        max-width: 100%;
    }

    #resultsTable td {
      overflow-wrap: break-word;
      word-break: break-all;
    }

  }
  
  @media (min-width: 726px) and (max-width: 850px) {
    table { 
      width: 80%;
    }

    table {
      max-width: 80%;
      table-layout: auto;
    }
    
    td, th {
      padding: 1em 0 1em 1em;
      margin: 1em 0 1em 1em;
      border-bottom: 1px solid #ddd;
      text-align: center;
      word-wrap: break-word;
    }

    tr.inputRow input {
      font-size: 1.5em;
    }

    .matchup-buttons-container {
      max-width: 80%;
      margin: 1em 1em;
    }

    #versus {
      margin: 1em 2em 1em 2em;
    }

    .page-view {
      width: 100%;
    }

    #inputPageTopic, #headingMatchup {
      font-size: 1.5em;
      overflow-wrap: break-word;
      word-break: break-all;
      margin: 0 1em;
      padding: 0 1em;
      /* max-width: 50%; */
  }

  #RankBtn {
    margin: 1em 1em;
    font-size: 2em;
  }

  #submitTopicButton {
    font-size: 1em;
    margin: 0 0 1em 0;
  }

  }

  @media (min-width: 851px) and (max-width: 5200px) {}