
/* Media Query Adjustments */
@media (min-width: 100px) and (max-width: 725px) {

    #headingSplash, #headingInput, #headingMatchup, #headingResults {
        font-size: 3em;
        margin: 1em 0 1.5em 0;
    }

  /* Splash */

      #topicInput {
        font-size: 1.75em;
        margin: 0 0 .25em 0;
      }

      #submitTopicButton {
        font-size: 1.5em;
      }

      #splashPrompt {
        font-size: 2em;
        margin: 0 0 5em 0;
      }

/* Input */

        #headingInput {
            font-size: 3em;
            margin: 1em 0 .5em 0;
        }

        #inputPageTopic {
            font-size: 2.5em;
        }

        .inputTable td input {
            font-size: 1.75em;
            /* max-width: 90%; */
            width: 85%;
        }

        .inputTable {
            margin: 0 0 .25em 0;
        }

        .index-column {
            display: none;
        }

      #RankBtn {
        font-size: 1.5em;
        padding: 1em 1em 1em 1em;
        margin: 1em 1em 1em 1em;
      }

      #inputPrompt {
        font-size: 2em;
        margin: 0 .5em 1.5em .5em;
      }

      .footer p{
        font-size: 1.1em;
        margin: 0 1em 1em 1em;
      }
      
      /* Matchup */

      #matchupPrompt {
        font-size: 2.5em;
        margin: 0 0 1.5em 0;
    }

   

    .matchup-buttons-container {
        width: 50%;
        margin: 0 0 0 0;
        padding: 0;
        display: flex; justify-content: center; align-items: center;
    }

    .matchup-buttons-container.vertical {
        flex-direction: column;
    }

    #versus {
        font-size: 2em;
        padding: 0 2em 0 2em;
    }

    /* Results */
  
    #resultsTable {
        font-size: 2em;
        margin: 0 1em 2em 0;
    }
  }
  
  /* @media (min-width: 651px) and (max-width: 1200px) {
    .input-field {
      width: 95%;
      font-size: 120%;
      margin: 5pm auto;
      padding: 10px;
    }
  
    #submitTopicButton {
      width: 100%;
      font-size: 1.5rem;
      margin: 5px auto;
      padding: 10px;
    }
  
    .App, .page-view {
      width: 75%;
      margin: 0;
      padding: 0;
      }
  
      .copyright {
        font-size: 1.2em;
      }
  
      #splashPrompt {
        font-size: 1.5em;
      }
  
      #inputPrompt {
        font-size: 1.5em;
      }
  
      #matchupPrompt {
        font-size: 1.5em;
      }
  
      td input {
        width: 95%;
        font-size: 1.5rem;
      }
  
      td.remove-button-cell {
        padding: 5px 25px 5px 0px;
      }
  
      button.button.submit {
        font-size: 2.6em;
      }
  
      .resetBtn {
        font-size: .75em;
      }
  
      .matchup-buttons-container button {
        font-size: 2.0em;
      }
  
      .matchup-buttons-container {
        font-size: 1.4em;
      }
  
      #resultsTable {
        font-size: 2em;
      }
   
  
  } */