/* Base Styles */
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 50vh; */
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  }

  html {
    background-color: whitesmoke;
  }
  
  /* Global Header Style */
  /* .App h1, h2, h3 {
    margin: 1m 20px; 
  } */


/* Specific Page Styles */
.page-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: .5em;
    height: auto; 
  }

  #topicInput {
    font-size: 1.5em;
    margin: 0 0 1em 0;
  }

  #splash-prompt {
    font-family: 'Courier New', monospace;
    size: 3.2em;
  }

#inputPrompt {
  max-width: 100%;
}

table {
  width: 100%;
  text-align: left;
  margin-top: 1em; /* Reduced margin */
  table-layout: auto;
}

td, th {
  padding: 1em 0 1em 1em;
  margin: 1em 0 1em 1em;
  border-bottom: 1px solid #ddd;
  text-align: center;
  word-wrap: break-word;
}

td.remove-button-cell {
  margin: 1em 0 1em 1em;
  padding: 1em 0 1em 1em;
  word-wrap: normal;
}

td.index-column {
  max-width: 20px;
}

/* .matchup-buttons-container vertical {
  width: auto; 
  max-width: 30%;
} */

.matchup-page-view {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between; /* This will push the footer and prompt to the bottom */
  min-height: 65vh; /* Ensure the container takes up at least the full viewport height */
}

.volume-control {
  position: flex;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other elements */
}