/* Base Styles */
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 50vh; */
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  }

  html {
    background-color: whitesmoke;
  }
  
  /* Global Header Style */
  /* .App h1, h2, h3 {
    margin: 1m 20px; 
  } */


/* Specific Page Styles */
.page-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: .5em;
    height: auto; 
  }

  /* Splash Page Styles */

  #topicInput {
    font-size: 1em;
  }



  #splash-prompt {
    font-family: 'Courier New', monospace;
    size: 3.2em;
  }

  /* Input Page Styles */


#inputPrompt {
  max-width: 100%;
}



/* Matchup Page Styles */
.matchup-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
  margin: 1em; 
  padding: 1em; 
  border-radius: 1em; 
}

.matchup-buttons-container.vertical button {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px; 
}

/* Results Page Styles */




/* Global Table Style */
table {
  width: 100%;
  text-align: left;
  margin-top: 15px; /* Reduced margin */
}

td, th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}



