.pie-wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    width: 100%;             /* Full width of the container */
    margin-top: 20px;        /* Adjust as needed */
  }
  
  .pie {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: lightgray; /* Background color of the pie */
  }
  
  /* .pie-slice {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow; 
    clip-path: polygon(50% 50%, 100% 0, 100% 100%); 
    background-color: transparent;
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-in-out;
  } */

  .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: clip-path 0.5s ease-in-out;
  }
  