#submitTopicButton {
    padding: 10px 10px 10px 10px;
    margin: 15px 15px;
    font-size: .8rem;
    border-radius: 25px;
    cursor: pointer;
  }

  #splash-prompt {
    font-family: 'Courier New', monospace;
    size: 3.2em;
  }