/* Matchup Page Styles  */

.matchup-page-view {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 65vh; 
    overflow: hidden;
    white-space: nowrap;
  }
  
  .matchup-buttons-container {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 300px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 250px;
    }
    
    #leftMatchupBtn, #rightMatchupBtn {
    padding: 1em 1em;
    margin: 1em 1em;
    border-radius: 1em;
    font-size: 1.4em; 
    width: 220px;
    height: 220px;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
    overflow: clip;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    white-space: normal;
    background-color: white;
    }

    #versus {
        margin: 1em 2em 1em 2em;
      }

      .matchupPrompt {
        font-weight: bold;
      }