/* Splash Page Styles  */

#splashPrompt {
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-style: italic;
  }
  
#submitTopicButton {
    font-size: 1.2em;
    padding: .2em 1em;
    margin: .05em 1em;
    border-radius: 2em;
    cursor: pointer;
  }
  
  .submitTopicButtonDisabled {
    border: 2px dashed gray;
    /* animation: borderAnimation 1s linear; */
  }

  #topicInput {
    font-size: 1.5em;
    margin: 1em 0 1em 0;
  }

  #splash-prompt {
    font-family: 'Courier New', monospace;
    size: 3.2em;
  }

  .splashPromptContainer, .inputPromptContainer {
    overflow: hidden;
    white-space: nowrap;
    padding: 1em 1em;
  }

  .splashClearTopicButton {
    margin: 0 0 0 10px;
    padding: 0 0 10px 0;
    cursor: pointer;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input-field {
    flex-grow: 1;
  }